<div class="card clickable" (mouseover)="showDeleteButton=true" *ngIf="isLoadedRight">
  <div [routerLink]="['/category', category.path]">
    <div class="image-container">
      <img *ngIf="category.image !== undefined" [src]="getImageUrl(240, 160, category.image?.fullpath)"
        alt="{{ category.image.name }}" class="image" />
      <img *ngIf="category.image === undefined" src="../../../assets/placeholder.jpg" class="image">
      <div class="image-count" *ngIf="numberOfImages!=null">{{ numberOfImages + " " + getString() }}</div>
    </div>
    <div class="info-container">
      <p>{{getCategoryName()}}</p>
    </div>
  </div>
  <button class="delete-button" ma-icon (click)="onDelete()"><mat-icon>delete</mat-icon></button>
</div>