<!-- categories.component.html -->
<div *ngIf="!isLoading">
    <div>
        <span id="title">Kategórie</span>
        <span class="right">
            <mat-icon [matMenuTriggerFor]="menu" class="small-icon clickable">sort</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="toggleSortOrder(true)">Zoradiť vzostupne</button>
                <button mat-menu-item (click)="toggleSortOrder(false)">Zoradiť zostupne</button>
            </mat-menu>
        </span>
        <span class="right">
            <div class="custom-search-input right">
                <input type="text" placeholder="Vyhľadať" [(ngModel)]="searchValue" class="input-field"
                    (ngModelChange)="onInputChange()" />
                <div class="search-icon-container">
                    <mat-icon class="small-icon">search</mat-icon>
                </div>
            </div>
        </span>
    </div>
    <div id="categories-container">
        <div *ngFor="let category of shownCategories">
            <app-category-card [category]="category"></app-category-card>
        </div>
        <div class="card clickable add-card" id="add-category-card" (click)="openAddCategoryDialog()">
            <div class="plus-icon">+</div>
            <p>Pridať kategóriu</p>
        </div>
    </div>

    <div *ngIf="categories.length === 0">
        <p>Zatiaľ neexistujú žiadne kategórie.</p>
    </div>
</div>