<!-- categories.component.html -->
<div *ngIf="!isLoading">
    <div class="header">
        <span id="title">{{"Categories"|translate}}</span>
        <span class="right">
            <mat-icon [matMenuTriggerFor]="menu" class="small-icon clickable">sort</mat-icon>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="toggleSortOrder(true)">{{ "Sort-ascending"|translate }}</button>
                <button mat-menu-item (click)="toggleSortOrder(false)">{{"Sort-descending"|translate}}</button>
            </mat-menu>
        </span>
        <span class="right">
            <div class="right custom-search-input">
                <input type="text" [placeholder]="'search' | translate" [(ngModel)]="searchValue" class="input-field"
                    (ngModelChange)="onInputChange()" />
                <div class="search-icon-container">
                    <mat-icon class="small-icon">search</mat-icon>
                </div>
            </div>
        </span>
    </div>
    <div id="categories-container">
        <div *ngFor="let category of shownCategories">
            <app-category-card [category]="category"></app-category-card>
        </div>
        <div class="card clickable add-card" id="add-category-card" (click)="openAddCategoryDialog()">
            <div class="plus-icon"><mat-icon class="mat-plus-icon">add</mat-icon></div>
            <p>{{"add-category"|translate}}</p>
        </div>
    </div>

    <div *ngIf="categories.length === 0">
        <p>{{"no-categories" | translate}}</p>
    </div>
</div>