@import url(../../../../styles.less);

img {
  width: @card-width;
  height: @category-card-image-height;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.info-container {
  justify-content: space-between;

}

.info-container>p {
  text-align: center;
}

#image-container {
  position: relative;
}

.image-count {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #00000052;
  color: white;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
}

.skeleton {
  width: @card-width;
  height: @category-card-image-height;
  background-color: #f0f0f0;
  position: relative;
}

.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: @card-width;
  height: @category-card-image-height;
  background: linear-gradient(90deg, transparent, #e0e0e0, transparent);
  animation: loadingAnimation 1.5s infinite;
}

@keyframes loadingAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}