@import url(../../../../styles.less);

img {
  width: @card-width;
  height: @category-card-image-height;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

.info-container {
  justify-content: space-between;

}

.info-container>p {
  text-align: center;
}

#image-container {
  position: relative;
}

.image-count {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: #00000052;
  color: white;
  padding: 5px 12px;
  border-radius: 12px;
  font-size: 12px;
}


.skeleton-container {
  width: 240px;
  margin: 10px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.skeleton-image {
  height: @category-card-image-height;
  background-color: #f0f0f0;
  animation: shimmer 1.5s infinite;
}

.skeleton-info {
  height: 20px;
  width: 80%;
  background-color: #f0f0f0;
  margin: 10px auto;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200%;
  }

  100% {
    background-position: 200%;
  }
}