<div id="overlay-container" *ngIf="index != null" (click)="closeOverlayOnOutsideClick($event)">
  <div id="overlay-content" (click)="$event.stopPropagation()">
    <button *ngIf="!isLoading" class="close-button" (click)="closeOverlay()"><mat-icon>close</mat-icon></button>
    <div *ngIf="isLoading; else imageContent">
      <div class="skeleton-loader">
      </div>
    </div>

    <ng-template #imageContent>
      <div class="image-container">
        <img [src]="url" alt="{{ allImages[index].alt }}">
      </div>
      <button class="nav-button previous" (click)="movePrevious()"
        [disabled]="isLoading"><mat-icon>arrow_back</mat-icon></button>
      <button class="nav-button next" (click)="moveNext()"
        [disabled]="isLoading"><mat-icon>arrow_forward</mat-icon></button>
    </ng-template>
  </div>
</div>