<div id="overlay-container" *ngIf="index != null" (click)="closeOverlayOnOutsideClick($event)">
    <div id="overlay-content" (click)="$event.stopPropagation()">
      <button class="close-button" (click)="closeOverlay()"><mat-icon>close</mat-icon></button>
      
      <!-- Skeleton loader for image -->
      <div *ngIf="isLoading; else imageContent">
        <mat-spinner></mat-spinner>
      </div>
  
      <!-- Actual image content -->
      <ng-template #imageContent>
        <img [src]="url" alt="{{ allImages[index].alt }}">
      </ng-template>
  
      <button class="nav-button previous" (click)="movePrevious()" [disabled]="isLoading"><mat-icon>arrow_back</mat-icon></button>
      <button class="nav-button next" (click)="moveNext()" [disabled]="isLoading"><mat-icon>arrow_forward</mat-icon></button>
    </div>
  </div>
  