<div *ngIf="!isLoading && doesThisCategoryExist">
    <div [routerLink]="['/']" class="arrow-text clickable">
        {{gallery.name}}
    </div>
    <div id="images-container">
        <div *ngFor="let image of images; let i = index">
            <div (click)="openFullSizeImageDialog(i)">
                <app-image-card [image]="image" (deleteClicked)="onDeleteImage(i)"></app-image-card>
            </div>
        </div>
        <div class="card add-card clickable" id="add-image-card" (click)="openAddImageDialog()">
            <div class="plus-icon">+</div>
            <p>{{"add-image" | translate}}</p>
        </div>
    </div>

    <div *ngIf="images.length === 0">
        <p>{{"for-category" | translate}} {{ gallery.name }} {{"no-images"|translate}}</p>
    </div>
</div>
<div *ngIf="!doesThisCategoryExist">
    <p class="error-text">{{"category-not-exist"|translate}}</p>
    <p class="arrow-text clickable" [routerLink]="['/']">{{"go-to-categories-page"|translate}}</p>
</div>