<div *ngIf="!isLoading">
    <div [routerLink]="['/']" class="arrow-text">
        {{gallery.name}}
    </div>
    <div class="images-container" [style.maxWidth]="calcWidthOfContainer()">
        <div *ngFor="let image of images">
            <app-image-card [image]="image" (click)="openFullSizeImageDialog(image.fullpath)"></app-image-card>
        </div>
        <div class="card add-card" [style.height]="'220px'" (click)="openAddImageDialog()">
            <div class="plus-icon">+</div>
            <p>Pridať fotky</p>
        </div>
    </div>
    
    <div *ngIf="images.length === 0">
    <p>Pre kategóriu {{ gallery.name }} neexistujú žiadne obrázky.</p>
    </div>
</div>
