// Font and Background
@font-family: 'Barlow', sans-serif;
@background-color: #f9f9f9;
@lightGray: #c0c0c0;
@darkest: rgba(0,0,0, 0.4);

body {
  font-family: @font-family;
  background-color: @background-color;
  margin-top: 24px;
}

// Card Styling
@border-radius: 4px;
@box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
@transition-speed: 0.3s;
@card-width:240px;
@card-height:220px;
@category-card-image-height:180px;

.card {
  border-radius: @border-radius;
  background-color: white;
  overflow: hidden;
  box-shadow: @box-shadow;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: @card-width;
  height: @card-height;
  transition: box-shadow @transition-speed; 
  align-items: center;
  position: relative;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }

  p {
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
  }

  .plus-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid @lightGray;
    color: @lightGray;
    width: 24px;
    height: 24px;
    font-size: 18px;
    border-radius: 8px;
  }
}

.arrow-text::before {
  content: '\2190'; 
  margin-left: 10px;
}

.add-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Dialog Styles
@dialog-button-background: black;
@dialog-button-text-color: white;
@dialog-padding: 10px;
@dialog-width:420px;

.add-button-dialog {
  text-align: center;
  color: @dialog-button-text-color;
  background-color: @dialog-button-background;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 24px;
  font-size: 13px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: @dialog-padding;
  padding-left: 0px;
}

.close-button-dialog {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 16px;
  margin-top: -20px;
  padding-right: 0px;
  margin-right: -15px;
}

.close-button-dialog-icon{
  transform: scale(0.9);
}

// Utility Classes
.clickable {
  cursor: pointer;
}

.example-full-width {
  width: 100%;
}

.left-side, .right-side {
  display: inline-block;
  vertical-align: top;
}

.small-icon {
  transform: scale(0.8);
}

.right {
  float: right;
}

.custom-search-input {
  position: relative;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}

.input-field {
  height: 100%;
  width: calc(100% - 30px); 
  outline: none;
  padding: 5px;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
}

.search-icon-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-sizing: border-box;
  cursor: pointer;
  color: #8b8b8b;
}

// Delete Button
@delete-button-bg-color: rgb(54, 54, 54);
@delete-button-color: white;
@delete-button-transform: scale(0.8);

.delete-button {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: @delete-button-bg-color; 
  color: @delete-button-color;
  border: none;
  transform: @delete-button-transform;
  cursor: pointer;
  display: none; /* Hidden by default, visible on hover */
}

.card:hover .delete-button {
  display: block;
}

// Responsive Dialog Container
.dialog-container {
  width: @dialog-width; 
  margin: 0 auto;
  padding: 8px 16px 16px 16px; 

  @media only screen and (max-width: 600px) {
    max-width: 100%; 
    padding: 0;
  }
}

// Error Text
.error-text {
  color: red;
}

.mat-dialog-container {
  border-radius: 14px!important;
}

.mat-dialog-title{
  font-weight: 500!important;
}

.example-full-width.mat-focused .mat-form-field-outline {
  color: @lightGray!important; /* Change the text color */
}

.example-full-width.mat-focused .mat-form-field-label {
  color: black!important; /* Change the label color */
}

.example-full-width .mat-form-field-required-marker {
  color: black!important; /* Change the color of the asterisk */
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgb(240,240,240)!important;
}